.nav-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.menu-nav-responsive {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 15px;
  margin: 0;
  align-items: center;
  height: 100%;
}

.list-navbar {
  color: #b6bcc8;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

li:hover {
  color: black;
  border-bottom: 4px solid #ff7d1a;
}

button {
  background-color: transparent;
  border: none;
  height: 50px;
  color: #b6bcc8;
}

button:hover {
  color: black;
}

@media (min-width: 300px) and (max-width: 768px) {
  .logo {
    width: 110px;
  }
  ul {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .nav-left {
    justify-content: space-around;
    border: none;
  }
  .menu-nav-responsive {
    display: flex;
  }
}
