.nav-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 15px;
}

li {
  color: #b6bcc8;
  cursor: pointer;
}

li:hover {
  color: black;
}
