.navbar-responsive {
  display: none;
}

.menu-toggle {
  z-index: 1;
}

.ul-nav-responsive {
  position: absolute;
  background: #ededed;
  list-style-type: none;
}

.ul-nav-responsive.active {
  width: 40%;
  transform: none;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.ul-nav-responsive.disabled {
  display: none;
}

.btn-responsive {
  color: black;
  font-weight: bold;
}

@media (min-width: 300px) and (max-width: 768px) {
  .navbar-responsive {
    display: flex;
  }

  .ul-nav-responsive {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .navbar-responsive {
    display: flex;
  }
}
