/*SECTION LEFT*/

.img-product-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.img-product {
  width: 365px;
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
}

.img-product:hover {
  cursor: pointer;
}

.other-photo-product {
  display: flex;
  column-gap: 15px;
}

.little-photo-opacity {
  width: 80px;
  border: 3px solid #ff7d1a;
  border-radius: 10px;
  opacity: 75%;
}

.little-photo-opacity:hover {
  cursor: pointer;
}

.little-photo {
  width: 80px;
  border-radius: 10px;
}

.little-photo:hover {
  cursor: pointer;
  opacity: 75%;
}

.little-photo .img-product:hover {
  cursor: pointer;
}

/*ARTICLE RIGHT*/

.info-product-right {
  width: 30%;
}

h1 {
  font-size: 16px;
  color: #ff7d1a;
}

h2 {
  width: 250px;
}

.description {
  font-size: 16px;
  color: #b6bcc8;
}

.price-discount {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.structure-price-discount {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.discount-box {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffede0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  color: #ff7d1a;
  font-size: 16px;
}

.old-price {
  font-weight: bold;
  color: #b6bcc8;
  text-decoration: line-through;
}

.add-implement-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #ff7d1a;
  border: none;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.quantity {
  display: flex;
  width: 40%;
}

.button-quantity {
  width: 40%;
  height: 40px;
  cursor: pointer;
  background-color: #f7f8fd;
  border-color: #f7f8fd;
  border-radius: 5px;
}
