/*SECTION LEFT*/

.img-product-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.img-product {
  width: 365px;
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
}

.img-product:hover {
  cursor: pointer;
}

.circle-previous,
.circle-next {
  display: none;
}

.icon-previous-responsive {
  display: none;
}

.icon-next-responsive {
  display: none;
}

.other-photo-product {
  display: flex;
  column-gap: 15px;
}

.little-photo-opacity {
  width: 80px;
  border: 3px solid #ff7d1a;
  border-radius: 10px;
  opacity: 75%;
}

.little-photo-opacity:hover {
  cursor: pointer;
}

.little-photo {
  width: 80px;
  border-radius: 10px;
}

.little-photo:hover {
  cursor: pointer;
  opacity: 75%;
}

.little-photo .img-product:hover {
  cursor: pointer;
}

/*ARTICLE RIGHT*/

.info-product-right {
  width: 30%;
}

h1 {
  font-size: 16px;
  color: #ff7d1a;
}

h2 {
  width: 250px;
}

.description {
  font-size: 16px;
  color: #b6bcc8;
  margin-bottom: 20px;
}

.price-discount {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  row-gap: 10px;
}

.structure-price-discount {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.discount-box {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffede0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  color: #ff7d1a;
  font-size: 16px;
}

.old-price {
  font-weight: bold;
  color: #b6bcc8;
  text-decoration: line-through;
}

.add-implement-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #ff7d1a;
  border: none;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.quantity {
  display: flex;
  width: 40%;
}

.button-quantity {
  width: 40%;
  cursor: pointer;
  background-color: #f7f8fd;
  border-color: #f7f8fd;
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .other-photo-product {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .img-product-left {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .img-product {
    width: 100%;
    height: 280px;
    border-radius: 0px;
    position: relative;
  }

  .circle-previous {
    display: flex;
    position: absolute;
    top: 180px;
    left: 15px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .circle-next {
    display: flex;
    position: absolute;
    top: 180px;
    right: 15px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .icon-previous-responsive,
  .icon-next-responsive {
    display: flex;
    width: 12px;
    height: 18px;
    margin: auto;
  }

  .info-product-right {
    width: 100%;
  }

  .price-discount {
    flex-direction: row;
    justify-content: space-between;
  }

  .add-implement-cart {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .quantity {
    width: 90%;
  }

  .add-cart {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1099px) {
  .info-product-right {
    width: 40%;
  }
}
